.movie-container {

}

.error-div{

}

#error {
    color: black;
    background-color: rgba(255, 0, 0, 0.9);
    font-weight: bold;
    position: fixed;
    top: 10vh;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999; /* Ensure it's above other elements */
}

.movie-info-container-bg {
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    background-size: cover;
    z-index: 1;
    position: relative;

}

.movie-info-container {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to right, rgba(31.5, 31.5, 31.5, 1) calc((50vw - 170px) - 340px), rgba(31.5, 31.5, 31.5, 0.84) 50%, rgba(31.5, 31.5, 31.5, 0.84) 100%);
}

.movie-poster-container {
    display: flex;
    align-items: center;

}

.movie-poster {
    width: 300px;
    height: 450px;
    overflow: hidden;
    border-radius: 8px;
    margin: 20px;


}

.movie-image {
    width: 100%;
    height: 100%;

}

.movie-information-container {
    width: 60vw; /*55vw*/
    max-width: 800px;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-left: 50px;

}

.movie-information {
    height: 450px;

}

.movie-information-title {
    padding-top: 15px;

}

.movie-title {
    font-size: 2em; /* Increase title size */
    font-weight: bold; /* Make the font thicker */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add shadow for depth */
    margin-bottom: 10px; /* Space between title and button */
}

.release-year {
    font-weight: 400; /* Ensures the font weight is normal, not bold or anything else */
    color: rgba(255, 255, 255, 0.8);
    margin-left: 2px;
}

.movie-status {
    font-size: medium;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8);
    margin-left: 2px;
}

.movie-release {
    font-size: small;
    font-weight: 400;
    margin-top: -8px;
    color: rgba(255, 255, 255, 0.8);
}

.movie-information-user-buttons {

}

/* An id so that it overrides the default button rules */
/* Test rules on inspect then add here */
#user-button {
    --bs-btn-bg: transparent;
    border: none;
    font-size: 20px;
    --bs-btn-color: #0dcaf0;
    --bs-btn-hover-bg: rgb(33, 37, 41);
}

.movie-overview {

}

.movie-information-extra {

}

.movie-info-p2-container-bg {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;

}

.movie-info-p2-container {
    width: 90vw;
    min-width: 400px;
    max-width: 1500px;
}

.movie-extra-info-container {
    height: 400px;

}

.movie-cast-and-crew-container {

}

.movie-cast-and-crew {

}

.movie-person-container {

}

.movie-media {

}

.movie-media-menu {

}

.review-container {
    height: auto;
}

.movie-reviews-container {

}

.movie-reviews {

}

.movie-review {

}

.movie-review-heading {

}

.movie-review-user {

}

.movie-review-rating {

}

.movie-review-content {

}

.see-all-reviews-button {

}

.login {
    opacity: 0;
    z-index: 0;
    display: none;
}

.login.active {
    opacity: 1;
    z-index: 5;
    display: inline;
    margin: 40px 10px;
}

.create-review-container {
    /* padding-left: 20px */
    margin-bottom: 100px;
}

.create-review {
    opacity: 0;
    z-index: 0;
    display: none;
}

.create-review.active {
    opacity: 1;
    z-index: 10;
    display: inline;
}

/* .create-review .login {
    opacity: 1;
    z-index: 5;
}

.create-review.active .login{
    opacity: 0;
    z-index: 0;
    color: red;

} */

.create-rating {

}

.create-review-user {

}

.create-review-content-container {

}

.create-review-heading {

}

.create-review-content {

}



















/* .movie-detail-container {
    display: flex;
    margin: 20px;
}

.movie-poster {
    width: 300px;
    height: 450px;
    overflow: hidden;
    border-radius: 8px;
    margin-right: 20px;
}

.movie-poster img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.movie-info {
    flex: 1;
}

.movie-info h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.movie-info p {
    margin-bottom: 5px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.button:hover {
    background-color: #0056b3;
} */
