.movie-container {

}

.error-div{

}

#error {
    color: black;
    background-color: rgba(255, 0, 0, 0.9);
    font-weight: bold;
    position: fixed;
    top: 10vh;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999; /* Ensure it's above other elements */
}

.movie-info-container-bg {
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    background-size: cover;
    z-index: 1;
    position: relative;

}

.movie-info-container {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to right, rgba(31.5, 31.5, 31.5, 1) calc((50vw - 170px) - 340px), rgba(31.5, 31.5, 31.5, 0.84) 50%, rgba(31.5, 31.5, 31.5, 0.84) 100%);
}

.movie-poster-container {
    display: flex;
    align-items: center;

}

.movie-poster {
    width: 300px;
    height: 450px;
    overflow: hidden;
    border-radius: 8px;
    margin: 20px;


}

.movie-image {
    width: 100%;
    height: 100%;

}

.movie-information-container {
    width: 60vw; /*55vw*/
    max-width: 800px;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-left: 50px;

}

.movie-information {
    height: 450px;

}

.movie-information-title {
    padding-top: 15px;
    width: fit-content;

}

.movie-title {
    font-size: 2em; /* Increase title size */
    font-weight: bold; /* Make the font thicker */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add shadow for depth */
    margin-bottom: 10px; /* Space between title and button */
}

.release-year {
    font-weight: 400; /* Ensures the font weight is normal, not bold or anything else */
    color: rgba(255, 255, 255, 0.8);
    margin-left: 2px;
}

.movie-status {
    font-size: medium;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8);
    margin-left: 2px;
}

.movie-release-runtime {
    font-size: small;
    font-weight: 400;
    margin-top: -8px;
    color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: left;
    margin-left: 15px;
}

.dot {
    /* font-size: xx-large;
    line-height: 1;
    margin: -11px 8px; */
    font-size: x-large;
    line-height: 1;
    margin: -6px 3px;
    }

/* .runtime::before {

    font-size: 1.1em;
    line-height: 1;
    content: "•";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 7px;
    display: inline-flex;
    align-content: center;
    align-items: center;
    z-index: -1;
} */

.movie-information-user-buttons {
    display: flex;
    align-items: center;

}

.icon {
    font-size: 25px;
}

/* An id so that it overrides the default button rules */
/* Test rules on inspect then add here */
#user-button {
    margin: 2px 5px;
    --bs-btn-bg: transparent;
    border: none;
    font-size: 20px;
    --bs-btn-color: #0dcaf0;
    --bs-btn-hover-bg: rgb(33, 37, 41);
}

.movie-overview {

}

.movie-information-extra {

}

.movie-info-p2-container-bg {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;

}

.movie-info-p2-container {
    width: 100%;
    min-width: 400px;
    /* max-width: 1500px; */
    /* min-height: 1500px; */
}

.movie-extra-info-container {
    

}


.review-container {
    height: auto;
    width: 100%;
    /* display: flex;
    justify-content: center; */
}

.movie-reviews-container {
    /* width: 90vw; */
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.movie-reviews {
    width: 80vw;
}

.movie-review {

}

.movie-review-heading {

}

.movie-review-user {

}

.movie-review-rating {

}

.movie-review-content {

}

.see-all-reviews-button {

}

.login {
    opacity: 0;
    z-index: 0;
    display: none;
}

.login.active {
    opacity: 1;
    z-index: 5;
    display: inline;
    margin: 40px 10px;
}

.create-review-container {
    /* padding-left: 20px */
    /* width: 90vw; */
    /* height: 200px; */
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.create {
    width: 80vw;
}

.create-review {
    opacity: 0;
    z-index: 0;
    display: none;
}

.create-review.active {
    opacity: 1;
    z-index: 10;
    display: inline;
}

/* .create-review .login {
    opacity: 1;
    z-index: 5;
}

.create-review.active .login{
    opacity: 0;
    z-index: 0;
    color: red;

} */

.create-rating {

}

.create-review-user {
margin-bottom: 8px;
}

.create-review-content-container {

}

.create-review-heading {

}

.create-review-content {
    
}

.display-review {
    display: none;
}

.display-review.active {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.user-review-card {
    color: black;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 80%;
    padding: 20px;
    border-radius: 30px;
    background-color: #fff;
}

.your-review {
    font-size: 16px;
    margin-left: 20px;
}

.user-review-header {
    /* color: black; */
    /* display: flex; */
    /* justify-content: space-between; */
    margin-bottom: 15px;
    margin-left: 20px;
}
.user-review-heading {
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.review-author {
    color: black;
    font-weight: 400;
    font-size: 16px;
    display: flex;
}

.by-text {
    font-weight: 600;
    margin-right: 10px;
}
.date-text {
    margin-left: auto;
    font-weight: 100;
}

.user-rating-container {
    margin-left: 15px;
}

.user-review-content {
    font-size: 14px;
    line-height: 1.6;
    color: #333;
    margin-left: 5px;
}

.delete-review-btn {
    display: block;
    background-color: #ff4d4f;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.delete-review-btn:hover {
    background-color: #ff7875;
}


.movie-media {
    height: auto;
    /* width: 100%; */
    /* display: flex;
    justify-content: center; */
    /* height: 200px; */
    width: 100%;
    display: flex;
    justify-content: center;
    

}
